//main1
//main1背景
.HomePageMain1BgSet::before{
    content:"";
    display: block;
    width: 100%;
    height: 60px;
}
//main1背景

//main1 swiper設定
//圖片設定
.HomePageMain1ImgSet{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
//圖片設定

//按鈕設定
.HomePageMain1NavigationSet{
    border: none;
    background: transparent;
    z-index: 500;
}
//main1 swiper設定

//main2
//圖片設定
.HomePageMain2ImgSet{
    width: 100%; /* 讓圖片寬度動態調整 */
    height: auto; /* 高度自動，根據寬度調整 */
    aspect-ratio: 1; /* 使用 aspect-ratio 屬性保持 1:1 比例 */
    object-fit: cover; /* 確保圖片不會變形並充滿區域 */
}
//圖片設定
//main2